@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* import Font */

/* reset codes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}

/* start header */
.header {
  background-color: #222;
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.headerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.headerLeft {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 44px;
  height: 38px;
}

.logo > img {
  width: 100%;
  height: 100%;
}

.headerLeft > i {
  color: #fff;
  font-size: 30px;
}

.social {
  position: relative;
}

.menuList {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuItem > a {
  color: #fff;
  font-size: 30px;
}


.menuItem > a:hover {
  color: #f16d7f;
}

.fa-magnifying-glass:hover{
  color: #f16d7f;
}

.burgerTitle {
  color: #222224;
}

.active:hover .burgerMenu {
  display: flex;
}

.burgerMenu {
  display: none;
  width: 245px;
  height: 400px;
  background-color: #fff;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 58px;
  left: 0;
  padding: 32px;
}

.manItem {
  padding: 5px 0;
}

.womanItem {
  padding: 5px 0;
}

.manList::first-line {
  color: #f16d7f;
}

.womanList::first-line {
  color: #f16d7f;
}

/* header end */

.brands {
  width: 100%;
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: #f1e4e6;
}

.homeImage {
  width: 50%;
  height: 100%;
}

.homeImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.homeTitle {
  font-weight: bold;
  text-transform: uppercase;
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.fashion {
  text-transform: uppercase;
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.homeInfo {
  padding: 10px;
  border-left: 12px solid #f16d7f;
}

.categories {
  width: 100%;

  background-color: #fff;
  padding: 100px 0;
}

.categContent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.categTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.categCard {
  width: 360px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/Layer\ 43.png");
}

.categCard:nth-child(2) {
  background-image: url(../images/Rectangle\ 30.png);
}

.categCard:nth-child(3) {
  background-image: url(../images/Rectangle\ 30\ \(1\).png);
}

.categBottom {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/Rectangle\ 20.png);
}

.bottomTitle {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardHeader {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feturedHeader {
  width: 100%;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 48px;
}

.fetured {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feturedTitle {
  color: #222;
  font-family: "Lato";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feturedInfo {
  color: #9f9f9f;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feturedContext {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.cardImage {
  width: 100%;
}
.cardImage > img {
  width: 100%;

}



.feturedCard:nth-child(2) {
  background-image: url("../images/Rectangle\ 15\ copy.png");
}

.cardImage {
  display: flex;
  justify-content: center;
  align-items: center;

}




.cardInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  padding: 24px 16px;
  background-color: #f8f8f8;
}

.cardDetail {
  color: #5d5d5d;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.cardPrice {
  color: #f16d7f;
}

.sectionBtn {
  width: 100%;
  text-align: center;
}

.sectionBtn > a {
  padding: 15px 39px 14px 39px;
  border: 1px solid #f26376;
  color: #f26376;
}
.services {
  background-color: #222224;
  padding: 104px 0;
}

.serviceContext {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.serviceCard {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.serviceTitle {
  color: #fbfbfb;
  font-family: "Lato";
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.serviceInfo {
  color: #fbfbfb;

  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.subInfo {
  color: #222224;
  text-align: center;
  font-family: "Lato";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 350px;
}
.subscribe {
  width: 100%;
  height: 448px;
  background-image: url("../images/Layer\ 41.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(244, 244, 244, 0.7);
}

.leftSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  z-index: 1000;
}

.leftSide > img {
  border-radius: 50%;
}

.mainContent {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.rightSide {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  z-index: 1000;
}

.inpTitle {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.inpInfo {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}

.rightInput {
  position: relative;
}

.rightInput > input {
  padding: 7px 64px 6px 22px;
  border: none;
  background-color: #e1e1e1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
}

.inpButton {
  color: #fff;
  text-align: center;
  font-family: "Lato";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #f16d7f;
  padding: 7px 7px 5px 8px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  right: -74px;
  top: 0;
  text-align: center;
}

.inpButton:hover {
  background-color: white;
  border: 1px solid #f16d7f;
  transition: 0.3s;
  color: #f16d7f;
  transform: scale(1);
}

.footer {
  background-color: #222224;
  padding: 30px 0;
}

.footerContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights > a {
  color: #fff;
}

.socialList {
  display: flex;
  align-items: center;
  gap: 10px;
}

.socialList > img {
  background-color: #fff;
  width: 25px;
  height: 25px;
}
